<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="style.css" rel="stylesheet">
    <title>너만의 네컷일기</title>
    <style>
       
    </style>
</head>
<body>
    
<div id="header">
    <h1>너만의 네컷일기</h1>
</div>

<div id="navigation">
    <a id="jeju-button" class="button" href="https://jeju-s.jje.hs.kr/" target="_blank">과학고</a>
    <a id="eduzen-button" class="button" href="https://new.xn--2z1ba422lbqa.com/" target="_blank">이디저디</a>
    <a href="https://127.0.0.1:5001/dalle.html" id="write-diary1">네컷일기 쓰기</a>
</div>

<div id="about">
    <h2>About</h2>
    <p></p>
    <p>오늘 하루 어떤 일이 있었나요? 하루의 일상을 예쁘게 기록하고 공유할 수 있도록 만들었어요</p>
    <p>직접 그림을 그리며 하루하루를 기록했던 어릴적의 우리처럼 그림으로 하루를 기억해요</p>
    <p>그림을 그릴 필요 없이 글만 쓰면 아름답게 하루를 기록해줄게요</p>
</div>

<h2 id="how-to-use">What is this program?</h2>
<p></p>
<div class="image-container">
    <img src="images/001.png" alt="Step 1">
    <img src="images/002.png" alt="Step 2">
    <p></p>
    <img src="images/003.png" alt="Step 3">
    <img src="images/004.png" alt="Step 4">
</div>

<h2 id="how-to-use">HOW TO USE?</h2>

<div id="about">
<h2>여러분만의 자유로운 일기를 작성하세요</h2>
<p>✏️당신의 오늘 하루의 일기를 입력해주세요!</p>
<img src="images/005.png" alt="1">
<p>🌤️당신의 기분과 오늘의 날씨를 선택해주세요!</p>
<img src="images/006.png" alt="2">
<p>📷이미지 전송 버튼을 누르면 간단하게 일기를 만들 수 있습니다!</p>
<img src="images/007.png" alt="3">
<p>📁이미지 저장으로 모두와 공유해보세요!</p>
<img src="images/008.png" alt="4">
</div>



<div class="image-container">
    <!-- About 위에 이미지를 추가하세요 -->
    <img src="images/010.png" alt="About Image">
    <p></p>
    <p>-일기 작성 밑 세부 설정 화면-</p>
    <img src="images/009.png" alt="About Image">
    <p>다음 이미지는 네컷일기를 실제로 이용하여 제작한 일기의 예시입니다!</p>
</div>


<div id="button-container">
    <a href="https://127.0.0.1:5001/dalle.html" id="write-diary">네컷일기 쓰기</a>
    
</div>

<div id="footer">
    <p>&copy; 2023 너만의 네컷일기 :) </p>
    <p>김태이: <a href="https://blog.naver.com/goldpig2020" target="_blank">네이버 블로그 바로가기</a></p>
    <p>이건우: @gw.lee0602</p>
</div>

<script>
    // Add scrolling functionality
    document.getElementById('scroll-down').addEventListener('click', function() {
        window.scrollTo({
            top: window.innerHeight,
            behavior: 'smooth'
        });
    });
</script>

</body>
</html>